main > .container {
    font-family: 'Kanit', sans-serif !important;
    min-height: 83.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #c7b9a9;
}
